@import url('https://fonts.googleapis.com/css?family=Jura:700&display=swap&subset=cyrillic,cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:200,200i,500,600&display=swap&subset=cyrillic,cyrillic-ext');

.Places-Title {
    font-size: 7em;
    font-family: Jura, sans-serif;
    text-align: center;
    margin-bottom: 50px;
    border-bottom: 2px solid gray;
    border-top: 4px solid gray;
}

.Places-Place {
    border-bottom: 4px solid gray;
    border-top: 4px solid gray;
    margin-bottom: 30px;
    margin-top: 30px;
}

.Place-Title {
    font-size: 3em;
    font-family: 'Montserrat Alternates', sans-serif;
    margin-bottom: 20px;
    font-weight: 600;
}

.Title-Text {
    border-bottom: 4px solid black;
}

.Place-Address {
    font-size: 2em;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 200 i;
    margin-bottom: 20px;
}

.Place-TelNumber {
    font-size: 2em;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 200 i;
    margin-bottom: 20px;

}

.Place-Link {
    font-size: 2em;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 200 i;
    margin-bottom: 20px;
    overflow: hidden;
}

.Rubric {
    font-weight: 500;
}


@media (max-width: 480px) {
    .Places-Title {
        font-size: 2em;
        margin-bottom: 20px;
        margin-top: 20px;

    }

    .Place-Title {
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    .Place-Address {
        font-size: 1em;
        margin-bottom: 10px;

    }

    .Place-TelNumber {
        font-size: 1em;
        margin-bottom: 10px;

    }

    .Place-Link {
        font-size: 1em;
        margin-bottom: 10px;

    }

    .Places-Place {
        margin-bottom: 10px;
        margin-top: 10px;
    }


}

@media (min-width: 480px) and (max-width: 840px) {
    .Places-Title {
        font-size: 3em;
    }

    .Place-Title {
        font-size: 2em;
    }

    .Place-Address {
        font-size: 1.4em;
    }

    .Place-TelNumber {
        font-size: 1.4em;
    }

    .Place-Link {
        font-size: 1.4em;
    }


}

@media (min-width: 840px) and  (max-width: 1080px) {
    .Places-Title {
        font-size: 4em;
    }

    .Place-Title {
        font-size: 2.5em;
    }

    .Place-Address {
        font-size: 1.8em;
    }

    .Place-TelNumber {
        font-size: 1.8em;
    }

    .Place-Link {
        font-size: 1.8em;
    }

}
